#
# Architecture (ARM Cortex-M)
#
CONFIG_ARCH_CPU_CORTEX_M4=y
CONFIG_ARCH_ENABLE_FPU=y
CONFIG_ARCH_COMPILER_GCC=y
# end of Architecture (ARM Cortex-M)

#
# LinRTOS Kernel
#
CONFIG_RTOS_MAX_PRIORITIES=32
CONFIG_RTOS_TICK_RATE_HZ=1000
CONFIG_RTOS_MAX_TASK_NAME_LEN=16
CONFIG_RTOS_ENABLE_TIME_SLICING=y
CONFIG_RTOS_TIME_SLICE_TICKS=100
# CONFIG_RTOS_ENABLE_IDLE_HOOK is not set
CONFIG_RTOS_MAX_TASKS=16
CONFIG_RTOS_IDLE_STACK_SIZE=64
# end of LinRTOS Kernel

#
# LinCLI (Command Line Interface)
#
CONFIG_CLI_ENABLE_USER=y
CONFIG_CLI_ENABLE_ENV=y
CONFIG_CLI_ENABLE_VAR=y
CONFIG_CLI_ENABLE_ADVANCED_COMPLETION=y
CONFIG_CLI_ENABLE_HELP=y
CONFIG_CLI_ENABLE_CMD_CHAIN=y
CONFIG_CLI_ENABLE_AUTO_RUN=y
CONFIG_HISTORY_MAX=4
CONFIG_DISPLAY_MAX_COWS=50
CONFIG_CLI_CMD_BUF_SIZE=128
CONFIG_CLI_MPOOL_COUNT=6
# end of LinCLI (Command Line Interface)
