#
# Architecture (ARM Cortex-M)
#
CONFIG_ARCH_CPU_CORTEX_M4=y
CONFIG_ARCH_ENABLE_FPU=y
CONFIG_ARCH_COMPILER_GCC=y
# end of Architecture (ARM Cortex-M)

#
# LinRTOS Kernel
#
CONFIG_RTOS_MAX_PRIORITIES=32
CONFIG_RTOS_TICK_RATE_HZ=1000
CONFIG_RTOS_MAX_TASK_NAME_LEN=16
CONFIG_RTOS_ENABLE_TIME_SLICING=y
CONFIG_RTOS_TIME_SLICE_TICKS=100
# CONFIG_RTOS_ENABLE_IDLE_HOOK is not set
CONFIG_RTOS_MAX_TASKS=16
CONFIG_RTOS_IDLE_STACK_SIZE=64
# end of LinRTOS Kernel
